@charset "UTF-8";
*{margin:0;padding:0;}
a{text-decoration:none; color:white;}
header{
	width:100%;
	height:80px;
	background-color:blue;
	color:white;
	text-align:center;
	line-height:80px;
}
nav{
	width:100%;height:40px;
	background-color:skyblue;
	line-height:40px;
}
nav ul li{
	float:left;
	padding:0 10px;
	list-style:none;
	
}
section{
	width:100%;
	height:100%;
	background-color:lightgray;
	position:fixed;
	
}
section h2 {
	padding:20px 0;
	text-align:center;
}
section p {padding:10px;}
footer{
	width:100%;
	height:30px;
	background-color:blue;
	color:white;
	text-align:center;
	line-height:30px;
	font-size:10px;
	position:absolute;
	bottom:0;
}

.table_line{
	border:solid 1px black;
	margin:auto;
	overflow:auto;	
}
.table_line th, .table_line td{
	border:1px solid gray;
	padding:5px;
}
.table_line .center td{
	text-align:center;
}
.center{
	text-align:center;
}